.records{
    margin: 0px;
    width: 91vw;
    padding: 30px;
}

.callTable, table{
    margin-bottom: 30px;
    
}
tr, td, th{
    border: 3px solid black;
    height: 4vh;
}

.footer{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    position: fixed;
    left: 0px;
    bottom: 30px;
}

.button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15px;
}